certifi
charset-normalizer
click
colorama
contourpy
cycler
deep-sort-realtime
deepsort
filelock
filterpy
fonttools
fsspec
gTTS
idna
imageio
intel-openmp
Jinja2
joblib
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mkl
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
packaging
pandas
pillow
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-image
scikit-learn
scipy
seaborn
six
sympy
tbb
thop
threadpoolctl
tifffile
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
urllib3
utils
